body {
    background-color: rgb(23, 22, 71);
    color: rgb(230, 230, 230);
    text-align: center;
}

#header {
    margin-top: 2%;
    border-bottom: solid rgb(82, 84, 224) 1px;
    letter-spacing: 4px;
    font-weight: bold;
    font-family: "Courier New";
}
.container {
    margin-top: 10%;
}

button {
    border-radius: 1px;
    background-color: rgb(92, 57, 250);
    color: white;
    border-color: rgb(92, 57, 250);
    margin: 2px;
}

button:hover {
    cursor: pointer;
    background-color: rgb(140, 166, 252);
}

.col {
    padding: 1%;
    margin: auto;
    float: none;
}
